<h3 class="page-name">Неиспользованные приглашения</h3>
<% if @invites && @invites.any? %>
  <ul>
    <% @invites.each do |invite| %>
      <li class="collection-item">
        <%= content_tag :b, invite.invite, class: :mark %> <%= link_to 'удалить', invites_path(id: invite.id), method: :delete, class: :btn2 %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Сгенерировать новое приглашение', invites_path, method: :post, class: :btn%>
