<h3>Warehouse</h3>
<% if @warehouses && @warehouses.any? %>
  <ul>
    <% @warehouses.each do |warehouse| %>
      <li>
        <%= warehouse.amount %>
        <%= link_to warehouse.product.code, product_path(warehouse.product.id) %>
      </li>
    <% end %>
  </ul>
<% end %>
