<h3 class="page-name">Удаленные пользователи</h3>
<% if @users && @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li class="collection-item list-1">
        <%= link_to user.identifier, user_path(user) %>
        <%= content_tag :span, "(#{user.name} #{user.lastname}) | последняя активность: #{to_local_time(user.last_seen)}" %>
      </li>
    <% end %>
  </ul>
<% end %>
