<h3>Inactive users</h3>
<% if @users && @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.identifier, user_path(user) %>
      </li>
    <% end %>
  </ul>
<% end %>
