<h3 class="page-name">Deleted users</h3>
<% if @users && @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li class="collection-item list-1">
        <%= link_to user.identifier, user_path(user) %>
        <%= content_tag :span, "(#{user.name} #{user.lastname}) | last seen: #{to_locat_time(user.last_seen)}" %>
      </li>
    <% end %>
  </ul>
<% end %>
