<h3 class="page-name">User list</h3>
<%= link_to 'Deleted users', inusers_path, class: :btn %>
<% if @users && @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li class="collection-item list-1">
        <%= link_to user.identifier, user_path(user) %>
        <%= content_tag :span, "(#{user.name} #{user.lastname}) | last seen: #{to_locat_time(user.last_seen)}" %>
      </li>
    <% end %>
  </ul>
<% end %>
