<h3 class="page-name">Новый пользователь</h3>
<%= form_for :user, url: users_path do |f| %>
<div class="form-field">
  <%= label_tag :invite_code, 'Код приглашения', class: :mark %>
  <%= text_field_tag :invite_code, params[:invite_code] %>
</div>
  <%= render 'user', f: f %>
<% end %>
