<%= content_tag :h3, "Supplier deleted | #{to_local_time(@event.created_at)} | by #{@event.editor.name} #{@event.editor.lastname} | (#{@event.supplier_change_event.head_event.id})", class: 'page-name'%>
<div class="event_details">
  <%= render 'snap/supplier', snap: @event.supplier_snap %>
</div>
