<%= content_tag :h3, "User updated | #{to_local_time(@event.created_at)} | by #{@event.editor.name} #{@event.editor.lastname} | (#{@event.user_change_event.head_event.id})", class: 'page-name'%>
<div class="event_details">
  <div class="half"><%= render 'snap/user', snap: @event.snap_from %></div>
  <div class="half"><%= render 'snap/user', snap: @event.snap_to %></div>
</div>
