<%= content_tag :h3, "User restored | #{to_local_time(@event.created_at)} | by #{@event.editor.name} #{@event.editor.lastname} | (#{@event.user_change_event.head_event.id})", class: 'page-name'%>
<div class="event_details">
  <%= render 'snap/user', snap: @event.user_snap %>
</div>
