<h3>Inactive products</h3>
<% if @products && @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.id %>
        <%= product.code %>
        <%= product.name %>
        <%= product.active %>
      </li>
    <% end %>
  </ul>
<% end %>
