<h3 class="page-name">Активные поставщики</h3>
<%= link_to 'Удаленные поставщики', insuppliers_path, class: :btn %>
<%= link_to 'Новый поставщик', new_supplier_path, class: :btn %>
<% if @suppliers && @suppliers.any? %>
  <ul>
    <% @suppliers.each do |supplier| %>
      <li class="collection-item list-2">
        <%= link_to supplier.name, supplier_path(supplier) %>
        <%= content_tag :span, "(#{supplier.address})" %>
      </li>
    <% end %>
  </ul>
<% end %>
